*{
    margin: 0px;
    padding: 0px;
    color: wheat;
}
.menu-contain{
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(57, 2, 109);

}
.logo-photo{
    width: 120px;
    justify-content: left;
    /* margin: 10px 30px -60px 100px; */
}

.menus{
    display: flex;
    
}
.item{
    margin-right: 10px;
    padding-right: 10px;
    font-size: 26px;

}


.banner-container{

    display: flex;
    justify-content: space-around;
    height: 100vh   ;
    align-items: center;
    background-color: rgb(41, 40, 40);



}
.banner-image{
    width: 500px;
    
   
}
.banner-text{
    align-items: center;
}

.title{
    font-size: 50px;
    font-weight: 800;
}
.description{
    font-size: 26px;
    padding: 20px opx;


}

.btn{
    color: rgb(185, 104, 12);
    padding: 10px 20px;
    border: solid;
    border-radius: 5px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-image: url('/images/pngtree-business-finance-world-map-positioning-background-poster-image_201539.jpg');
    


}
.about-title{
   text-align: center;
   padding: 10px;
   background-color: black;

}

.service-area{

    background-color: black;
    
}
